[submodule "Resurge/vendor/spdlog"]
	path = Resurge/vendor/spdlog
	url = https://ghfast.top/https://github.com/gabime/spdlog
[submodule "Resurge/vendor/GLFW"]
	path = Resurge/vendor/GLFW
	url = http://github.com/TheCherno/glfw
[submodule "Resurge/vendor/imgui"]
	path = Resurge/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Resurge/vendor/glm"]
	path = Resurge/vendor/glm
	url = http://github.com/icaven/glm
[submodule "Resurge/vendor/yaml-cpp"]
	path = Resurge/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
